#zone-bet {
  background-color: #480909;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 110vh;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  background-image: url('src/carpet3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #440909 ; */
}

#header img{
  width: 50px;
} 

#zone-actions {
  background-color: #480909;
  float: right;
  position: relative;
  top: 0;
  right: 0;
  height: 110vh;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  #zone-bet {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }

  #zone-actions {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
}

#bar {
  height: 200px;
  width: 2px;
  background-color: #eee;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
}

#filler {
  height: 0;
  width: 2px;
  background-color: #555;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

#number {
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: #313346;
  z-index: 2;
  width: 100px;
  margin-top: -15px;
  top: 170px;
}

#ball {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: top 0.5s ease-out;
}



#button-bet {
  top: 500px;
  position: absolute;
  border-radius: 60px;
  padding: 40px 25px;
  color: #ffffff;
  border: 5px solid;
}

#button-bet:active {
  background-color: rgb(223, 231, 3);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}




#button-card {
  border-radius: 60px;
  padding: 40px 25px;
  color: #ffffff;
  z-index: 3;
  top: 200px;
  position: absolute;
  border: 5px solid;
}

#button-card:active {
  background-color: rgb(0, 52, 165);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

#button-plant {
  border-radius: 60px;
  padding: 40px 25px;
  color: #ffffff;
  z-index: 2;
  top: 350px;
  position: absolute;
  border: 5px solid;
}

#button-plant:active {
  background-color: rgb(0, 132, 13);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

#button-fold {
  border-radius: 60px;
  padding: 40px 25px;
  color: #ffffff;
  z-index: 1;
  top:500px;
  position: absolute;
  border: 5px solid;
}

#button-fold:active {
  background-color: rgb(182, 0, 0);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

#zone-table {
  position: relative;
}

.table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 38px 30px;
  max-width: 450px;
  height: 45%;
  min-width: 500px;
  min-height: 300px;
  background-color: rgb(2, 168, 2);
  border: 0.5em solid rgb(11, 91, 11);
  border-radius: 10rem;
  margin-top:350px;
  }

#button-start {
  top: 500px;
  position: absolute;
  border-radius: 60px;
  padding: 40px 25px;
  cursor: pointer;
  top:580px;
  right: 230px;
  border: 5px solid;
}

#button-start:active {
  background-color: rgba(0, 92, 162, 0.619);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

.seat{
  border : 2px solid rgb(255, 255, 255);
  border-radius: 60px;
  padding: 25px 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}


#seat1{
  top: 80px;
  right:-110px;
}


#seat2{
  top: 80px;
  left:-100px;
}


#seat3{
  top: 300px;
  left: 45%;
  
}

#crupier{
  padding: 40px 40px;
  background-size: cover;
  background-position: center;
  top: -100px;
  left: 45%;

}


#box-section{
  background-color: rgb(11, 91, 11);
  width: 320px;
  height: 250px;
  display: block;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid #A2920E;

}

.box {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr); /* 3 columnas de igual ancho */
  grid-template-rows: repeat(2, 0.5fr); /* 2 filas de igual altura */
  justify-content: center;
  align-items: center;
}

.box button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3px;
}

.box .btn {
  font-size: 14px;
  padding: 2px 4px;
}

.NONE{
  margin: 3px;
}

.text{
  font-weight: bold;
  color: #eee;
  font-size: 20px;
 }


.text-bet-initial{
  font-weight: bold;
  color: #eee;
  font-size: 20px;
}
.form-control-custom {
  margin: 3px;
  font-size: 8px;
  padding: 2px 4px;
}