#zone-bet {
  background-color: #313346;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  background-color: #44465F;
}

#header img{
  width: 50px;
} 

#zone-actions {
  background-color: #313346;
  float: right;
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  #zone-bet {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }

  #zone-actions {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
}

#bar {
  height: 200px;
  width: 2px;
  background-color: #eee;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
}

#filler {
  height: 0;
  width: 2px;
  background-color: #555;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

#number {
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: #313346;
  z-index: 2;
  width: 100px;
  margin-top: -15px;
  top: 170px;
}

#ball {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: top 0.5s ease-out;
}



#button-bet {
  border: 2px solid #A2920E;
  border-radius: 50%;
  padding: 30px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  top: 500px;
  position: absolute;
}






#button-card {
  border: 2px solid #012DAB;
  border-radius: 50%;
  padding: 40px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  z-index: 3;
  top: 200px;
  position: absolute;
}

#button-plant {
  border: 2px solid #0B8E05;
  border-radius: 50%;
  padding: 40px 25px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  top: 350px;
  position: absolute;
}

#button-fold {
  border: 2px solid #AF0F02;
  border-radius: 50%;
  padding: 38px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  top:500px;
  position: absolute;
}

#zone-table {
  position: relative;
}

.table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 38px 30px;
  max-width: 450px;
  height: 45%;
  min-width: 400px;
  min-height: 300px;
  background-color: rgb(2, 168, 2);
  border: 0.5em solid rgb(11, 91, 11);
  border-radius: 10rem;
  margin-top:350px;
  }

#button-start {
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 38px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  top:590px;
  position: absolute;
  right: 230px;
}

.seat{
  border : 2px solid red;
  border-radius: 50%;
  padding: 25px 10px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}


#seat1{
  top: 80px;
  right:-110px;
}


#seat2{
  top: 80px;
  left:-100px;
}


#seat3{
  top: 300px;
  left: 45%;
  
}

#crupier{
  padding: 40px 40px;
  background-size: cover;
  background-position: center;
  top: -100px;
  left: 45%;

}


#box-section{
  background-color: #313346;
  width: 200px;
  height: 200px;
  display: block;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



.text{
  font-weight: bold;
  color: #eee;
  font-size: 20px;
}