#zone-bet {
  background-color: #313346;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  background-color: #44465F;
}


#zone-actions {
  background-color: #313346;
  float: right;
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  #zone-bet {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }

  #zone-actions {
    width: 100%;
    height: auto;
    float: none;
    position: relative;
  }
}

#bar {
  height: 200px;
  width: 2px;
  background-color: #eee;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
}

#filler {
  height: 0;
  width: 2px;
  background-color: #555;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

#number {
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: #313346;
  z-index: 2;
  width: 100px;
  margin-top: -15px;
  top: 170px;
}

#ball {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: top 0.5s ease-out;
}



#button-bet {
  border: 2px solid #A2920E;
  border-radius: 50%;
  padding: 30px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  top: 500px;
  position: absolute;
}






#button-options {
  border: 2px solid white;
  border-radius: 50%;
  padding: 38px 17px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  z-index: 3;
  top: 50px;
  position: absolute;
}

#button-plant {
  border: 2px solid #0B8E05;
  border-radius: 50%;
  padding: 38px 26px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  top: 350px;
  position: absolute;
}

#button-fold {
  border: 2px solid #AF0F02;
  border-radius: 50%;
  padding: 38px 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  top:500px;
  position: absolute;
}

